<!DOCTYPE html>
<html>
<head>
	<title>Get - Information</title>
	<link rel="stylesheet" type="text/css" href="/css/form.css">
</head>
<body>

<div id="container">
	<h1>Submit Information Here</h1>
	<hr>
	<form method="post" action="/">
		<input type="text" name="name" placeholder="Enter Name here" autofocus required><br><br>
		<input type="text" name="city" placeholder="Enter City Name here" required><br><br>
		<input type="text" name="country" placeholder="Enter Country Name here" required><br><br>
		<button>Submit</button>
	</form>
	<br><a href="/getInfo"><button>Search Record</button></a>
</div>

<script type="text/javascript" src="/js/form.js"></script>
</body>
</html>